<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Acu.li-raw-Login</title>
  </head>
  <body>
    <h2>Login to upload stuff :)</h2>
    <form method="post">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
